body{
	background: #efefef;
	margin: 0;
}
.page{
	box-shadow: 0 0 5px grey;
	width: 515px;
	height: 755px;
	background: white;
	margin: 10px auto 0;
	padding-top: 30px;

}
.personal_photo {
	width: 100%;
    max-width: 140px;
	display: block;
	margin: 0px auto;
}
h3{
	margin-top: 0;
	text-align: center;
}
.info {
	width: 412px;
	margin: 0 auto;
	line-height: 1.5em;
}
p{
	margin-left: 16px;
}